.main {
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 8px;
    width: 78%;
}

.inputField {
    width: 580px;
    border: 1.5px solid #5A2810;
    border-radius: 4px;
    height: 30px;
    padding: 0 8px;
}

.inputFieldSm {
    width: 250px;
    border: 1.5px solid #5A2810;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}

.inputFieldSmall {
    width: 100px;
    border: 1.5px solid #5A2810;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    background-color: lightgray;
}

.sideBar {
    width: 18%;
}

.label {
    width: 10px;
}

.chooseFile {
    height: '150px';
    width: '150px';
    background-color: 'grey';
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(2, 0.15fr);
    gap: 10px;
}

.checkboxGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 5px;
}

.checkboxItem {
    display: flex;
    align-items: center;
}

.checkboxStyle {
    border-radius: 3px;
    background-image: linear-gradient(#D9D9D9, #D9D9D9);
    border-color: #D9D9D9;
    cursor: pointer;
}

.customFileInput {
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover{
        transform: translateY(-4px);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.customFileInput input {
    position: absolute;
    opacity: 0;
}

.customFileInput span {
    display: inline-block;
    padding: 10px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.insertArtwork {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
}

.saveButton {
    background-color: #E16428;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-right: 7px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover{
        transform: translateY(-3px);
    }
}

.cancelButton {
    border: 1.5px solid #B45020;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: #B45020;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

    &:hover {
        border: 1.5px solid #E16428;
        background-color: #E16428;
        color: white;
        transform: translateY(-4px);
    }
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.customContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 180px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.errorMessage {
    color: red;
    font-size: small;
}

.information {
    font-size: small;
    color: gray;
}

@media (max-width:1024px) {
    .sideBar {
        width: 30%;
    }


}

@media (max-width:1300px) {
    .formGrid {
        grid-template-columns: repeat(2, 0.4fr);
    }

}