.main {
    width: 100%;
    margin: 2.8rem 2.4rem;

    .overallScore {
        color: #E16428;
    }
}
.sideBar {
    width: 20%;
}

.reviewItem {
    border-radius: 0.6rem;
    margin: 1rem 0rem;
    padding: 1.2rem 1rem;
    background-color: #F8EDED;
    transition: all 1s;
    filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.15));

    .profile {
        width: 100%;

        .profile_image {
            width: 6%;
            display: flex;
            justify-content: center;
            margin-right: 12px;
            img {
                border-radius: 50%;
                width: 60px;
                height: 60px;
                background-color: #545151;
            }
        }
        
        .username{
            font-size: 1.1rem;
            font-weight: bold;
        }
        .date{
            font-size: 0.8rem;
            color: #545151;
        }
    }

    .score {
        display: flex;
        position: absolute;
        right: 4.2%;
        .scoreText {
            margin-left: 0.4rem;
            font-size: 1.2rem;
            font-weight: 900;
            justify-content: center;
        }
    }
}

@media (max-width:1024px) {
    .sideBar {
        width: 30%;
    }

}