.main {
    width: 100%;
    margin: 2.8rem 2.4rem;

    .overallScore {
        color: #E16428;
    }
}
.sideBar {
    width: 20%;
}

.reviewItem {
    border-radius: 0.6rem;
    margin: 1rem 0rem;
    background-color: #F8EDED;

    .profile {
        padding: 0.8rem 2%;
        width: 100%;
        display: flex;
        
        img {
            margin-right: 8px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background-color: #545151;
        }
        .username{
            font-size: 1.1rem;
            font-weight: bold;
        }
        .date{
            font-size: 0.8rem;
            color: #545151;
        }
        .score {
            display: flex;
            position: absolute;
            right: 4.2%;
            .scoreText {
                margin-left: 0.4rem;
                font-size: 1.2rem;
                font-weight: 900;
                justify-content: center;
            }
        }
    }

    .message {
        padding: 0.4rem 5.4rem;
        padding-bottom: 1rem;
    }
}

@media (max-width:1024px) {
    .sideBar {
        width: 30%;
    }

}