.own_form {
  width: 400px;
  display: inline-block;
}

.cart {
  border: 2px solid black;
  margin-bottom: 20px;
}

.cart-details h3 {
  display: inline-block;
  margin: 5px;
}

.checkout form {
  margin-left: 10px;
}

.checkout form input {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: none;
  display: block;
  font-size: 20px;
  outline: none;
  padding: 10px;
  transition: all 0.4s;
  width: 100%;
}

.purchaseButton {
  width: 150px;
  height: 40px;
  color: white;
  font-weight: 500;
  background-color: #E78353;
  border-radius: 10px;
  margin-left: 15px;
  transition: all .3s ease-in-out;

  &:hover {
      background-color: #E16428;
      filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
      // transform: scale(1.05);
      transform: translateY(-2px);
  }
}