.side_bar {
    margin: 5% auto;
    margin-left: 2%;
    padding: 0 12px;
    word-wrap: break-word;

    .warp {
        display: flex;
    }

    .switch {
        font-weight: 800;
        font-size: 22px;

        .item {
            color: black;
            cursor: pointer;
            transition: all 0.7s;
            &:hover {
                color: #E16428;
                filter: drop-shadow(0 2px 2px rgba(91, 91, 91, 0.05));
                transform: translateY(-2px);
            }
        }

        .item_active {
            color: #E78353;
            cursor: pointer;
        }
    }
}
