.sideBar {
    width: 18%;
}

.form_container {
    display: flex;
    margin-top: 16px;
    .input_box {
        width: 70%;
        // border: #B45020 1px solid;

        .each_field {
            display: flex;
            align-items: center;
            // border: #B45020 1px solid;

            label {
                span {
                    margin-right: 14px;
                }
            }

            div {
                // border: #B45020 1px solid;
                width: 68%;
                input, textarea {
                    border: #716E6E 1px solid;
                    border-radius: 8px;
                    width: 100%;
                }
            }
        }

        .error {
            color: red;
            font-size: 12px;
            font-weight: 400;
            text-transform: none;
            margin-top: 2px;
        }

        .dateOfBirth {
            display: flex;
            align-items: center;
            margin-bottom: 22px;

            select {
                border: #716E6E 1px solid;
                border-radius: 8px;
                width: 100%;
            }

            .date {
                width: 10%;
                margin-right: 8px
            }
            .month {
                width: 20%;
                margin-right: 8px
            }
            .year {
                width: 15%
            }
        }

    }
    .upload_image {
        display: flex;
        flex-direction: column;
        width: 30%;
        // border: green 1px solid;
    
        img {
            width: 140px;
            height: 140px;
            object-fit: cover;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    
        .input_image {
            padding: 0 85px;
            label {
                p {
                    cursor: pointer;
                    border: #B45020 solid 2px;
                    color: #B45020;
                    font-weight: 700;
                    padding: 10px 15px;
                    margin: 22px 0;
                    border-radius: 26px;
                    text-align: center;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        background-color: #E16428;
                        border: #E16428 solid 2px;
                        color: #fff;
                        filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
                        transform: translateY(-1px);
                    }
                }

            }
    
            input {
                display: none;
            }
    
            .tips {
                font-size: smaller;
                color: #716E6E;
                font-weight: 500;
            }
        }
    }
}


.button {
    margin-top: 26px;
    .submit {
        border: 2px solid #EDA27E;
        background-color: #EDA27E;
        color: #FAF2F2;
        padding: 10px 50px;
        border-radius: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 12px;
        transition: all 0.4s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #E16428;
            border: 2px solid #E16428;
            filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
            transform: translateY(-2px);
        }
    }

    .cancel {
        border: 2px solid #B45020;
        color: #B45020;
        padding: 10px 50px;
        border-radius: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 12px;
        transition: all 0.4s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #E16428;
            border: 2px solid #E16428;
            filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
            transform: translateY(-2px);
        }
    }
}

@media (max-width:1024px) {
    .sideBar {
        width: 30%;
    }

}