.container {

    .heading {
        font-size: x-large;
        text-align: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 500;
    }

    .box {
        display: flex;

        .sidebar {
            width: 17%;
            height: 60px;
            margin-left: 3%;
            display: flex;

            .bar {
                background-color: #E16428;
                width: 3%;
                margin-right: 12px;
                color: #E16428;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }

            .icon {
                background-color: #E16428;
                border-radius: 6px;
                padding: 10px;
                padding-top: 17px;
                width: 100%;
                display: flex;

                .title {
                    padding-left: 10px;
                    color: white;
                    font-weight: bold;
                }
            }
        }

        .user {
            width: 83%;
            margin-left: 3%;
            margin-right: 3%;

            .filterUser {
                display: flex;
                background-color: #E16428;
                width: 35%;
                border-radius: 8px;
                margin-bottom: 10px;

                select {
                    cursor: pointer;
                    background-color: #E16428;
                    border-color: #ffffff;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                    color: white;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    padding-right: 30px;
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
                    background-repeat: no-repeat;
                    background-position: right center;
                    transition: all .4s ease-in-out;
                    &:hover {
                        filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
                        transform: scale(1.02);
                    }
                }

                .reset {
                    cursor: pointer;
                    display: flex;
                    margin-left: 15px;
                    border: 1px solid #ffffff;
                    background-color: rgba(91, 91, 91);
                    width: 70%;
                    border-radius: 0px 8px 8px 0px;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                    transition: all .4s ease-in-out;
                    &:hover {
                        filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
                        transform: scale(1.02);
                    }
                }
            }

            .paginate {
                display: flex;
                position: absolute;
                right: 3%;
                cursor: pointer;
                background-color: #E16428;
                width: 100px;
                border-radius: 8px;
                height: 32px;

                select {
                    border: 1px solid #E16428;
                    color: #E16428;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');

                    option {
                        color: #E16428;
                    }
                }

                input {
                    border: 1px solid #E16428;
                    color: #E16428;
                }
            }
            .icon {
                color: rgb(107 114 128 / var(--tw-text-opacity));
                transition: all .4s ease-in-out;
                &:hover {
                    filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
                    transform: scale(1.1);
                    color: #E16428;
                }
            }
        }
    }

}

.detailTransactionModal {
    .header {
        background-color: #E16428;

        h1 {
            color: white;
        }

        svg {
            color: white;
            transition: all .4s ease-in-out;
            &:hover {
                color: #E16428;
                filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
                transform: translateY(-3px);
            }
        }
    }

    p {
        font-weight: 500;
        color: dimgray;
        font-size: small;
        margin-top: 8px;
    }

    .group {
        display: flex;

        .profileImg {
            width: 20%;
            margin-left: 30px;

            img {
                width: 180px;
                border-radius: 15px;
            }
        }

        .personal {
            width: 30%;
            margin-left: 30px;
        }

        .contact {
            width: 30%;
        }

        .role {
            width: 20%;
            margin-top: 20px;

            .buttonRole {
                width: 120px;
                background-color: #E16428;
                height: 40px;
                color: white;
                font-weight: 500;
                justify-content: center;
                text-align: center;
                padding: 8px;
                border-radius: 10px;
            }
        }
    }
    
}