.container {
    display: flex;
    padding: 34px;
    margin-top: 10px;
    height: max-content;

    .chat_room {
        width: 25%;
        border-radius: 12px;
    }

    .chat_messages {
        width: 73%;
    }

    .no_message {
        // border-left: #5A2810 1px solid;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
        height: 80vh;
        font-size: 28px;
        font-weight: 700;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .icon {
            color: #5A2810;
            position: relative;
            left: 12%;
        }
    }

    .chat_room_main {
        display: flex;
        align-items: center;
        margin-right: 4%;
        margin-left: 4%;
        padding: 4%;
        cursor: pointer;
        transition: all 1s;

        .image {
            width: 22%;

            img {
                object-fit: cover;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

        }

        .text {
            width: 72%;

            h1,
            .latest_message {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .latest_message {
                font-size: smaller;
                color: #424949;
            }
        }

        &.active {
            background-color: #F9E0D4;
            cursor: pointer;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
        }
    }

    .chat_room_main:hover,
    .chat_room_main:active {
        background-color: #F9E0D4;
        background-position: 0 0;
        border-radius: 15px;
        transition: all 0.7s;
    }

    .message_main {
        display: flex;
        width: 100%;
        height: 85vh;


        .message_container {
            width: 65%;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 15px;
            background-color: #FFFFFF;

            .chat_header {
                display: flex;
                align-items: center;
                background-color: #FFFFFF;
                // border-radius: 10px;
                padding: 10px 25px;
                // margin: 8px 8px;
                height: 10%;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;

                img {
                    object-fit: cover;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin-right: 14px;
                }

                p {
                    font-weight: 800;
                    font-size: 18px;
                }
            }

            .message_wrap {
                margin: 8px 10px;
                height: 83%;
                padding: 4px 2px;
                border-radius: 12px;
                overflow-y: scroll;
                overflow-x: hidden;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .image_message {
                    border-radius: 0%;
                    width: auto;
                    height: auto;
                    margin: 5px 0;
                }

                .file_message {
                    display: flex;
                    border-radius: 0%;
                    width: auto;
                    height: auto;
                    margin: 5px 0;
                    cursor: pointer;

                    .icon {
                        height: fit-content;
                        background-color: white;
                        padding: 12px 15px;
                        border-radius: 50%;
                        margin-right: 12px;
                    }

                    h1 {
                        font-weight: 700;
                        margin-top: 2px;
                        margin-right: 2px;
                    }

                    p {
                        font-size: 11px;
                        color: gray;
                    }
                }

                .message_1 {
                    width: fit-content;
                    max-width: 50%;
                    background-color: #F9E0D4;
                    padding: 10px 15px;
                    word-wrap: break-word;
                }

                .message_2 {
                    width: fit-content;
                    max-width: 50%;
                    background-color: #F2F2F2;
                    color: black;
                    padding: 10px 15px;
                    word-wrap: break-word;
                }

                .time {
                    color: #ACA9A9;
                    font-size: 9px;
                    margin: 0 6px;
                    margin-bottom: 2px;
                }

                .date {
                    text-align: center;
                    font-size: 10px;
                    margin: 22px 0;

                    span {
                        background-color: #FAF2F2;
                        color: #C8A1A1;
                        padding: 4px 12px;
                        border-radius: 20px;

                    }
                }
            }

            .preview {
                font-size: 13px;
                padding: 12px 20px;
                margin-left: 3.5vh;
                margin-right: 9vh;
                background-color: #FAF2F2;
                border-radius: 18px 18px 0 0;

                .preview_item {
                    border-bottom: #e0d0d0 1px solid;
                    display: flex;
                    align-items: center;
                    padding: 12px 0;

                    .file_name {
                        display: flex;
                        width: 90vh;
                        margin-left: 1%;

                        p {
                            margin-left: 8px;
                        }

                    }

                    .close {
                        color: #E16428;
                        justify-self: end;
                        cursor: pointer;
                        margin-right: 1.5%;
                    }

                    .close:hover {
                        color: #B45020;
                    }
                }

                .preview_item:last-child {
                    border-bottom: none;
                }
            }

            .input_warp {
                display: flex;
                align-items: center;
                height: 10%;
                padding: 10px 8px;

                .input_box {
                    width: 93%;
                    height: 100%;
                    background-color: #F2F2F2;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    padding: 0 16px;

                    .icon {
                        cursor: pointer;
                        color: #E16428;
                        margin-right: 8px;
                        transition: all 0.7s;
                    }

                    .input_file {
                        input {
                            display: none;
                        }

                        .icon {
                            cursor: pointer;
                            color: #E16428;
                            transition: all 0.7s;
                        }

                        .icon:hover {
                            color: #5A2810;
                            transform: scale(1.1);
                        }
                    }

                    input {
                        margin-left: 4px;
                        font-size: 14px;
                        width: 90%;
                        height: 100%;
                        background-color: #F2F2F2;
                        border: 0;
                    }

                    input[type="text"]:focus {
                        box-shadow: none
                    }
                }

                .send {
                    width: 7%;
                    color: #E16428;
                    text-align: center;
                    transition: all 0.7s;
                }

                .send:hover {
                    color: #5A2810;
                    transform: scale(1.1);
                }
            }
        }

        .profile {
            width: 35%;
            height: 50%;

            .profile_warp {
                display: flex;
                flex-direction: column;
                align-items: center;
                // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 15px;
                height: 79vh;
                margin-left: 20px;
                margin-bottom: 30px;
                margin-top: 50px;

                .info {
                    width: 100%;
                    padding: 0 20px;

                    table {
                        font-size: 14px;
                        width: 100%;
                        color: #5A2810;
                        font-weight: 500;
                        margin: 24px 0;
                        background-color: #F2F2F2;
                        border-radius: 10px;
                        min-height: 75px;
                        height: max-content;
                        max-height: 70px;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

                        td {
                            padding-left: 20px;
                            padding-right: 20px;
                            cursor: default;
                        }


                    }

                    .star {
                        color: #E16428;
                        display: flex;
                        justify-content: end;

                        div {
                            width: 85px;
                        }
                    }
                }

                img {
                    border-radius: 50%;
                    width: 130px;
                    height: 130px;
                    object-fit: cover;
                    margin-top: -50px;
                }

                .role {
                    font-size: 14px;
                    color: #FDFBFB;
                    background-color: #E16428;
                    cursor: default;
                    padding: 4px 16px;
                    border-radius: 18px;
                    margin-top: 6px;
                    font-weight: 600;
                }

                .view_profile {
                    background-color: #E16428;
                    color: #FAF2F2;
                    border-radius: 10px;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 6px 18px;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 30px;
                    min-height: 30px;
                    min-width: 120px;
                    outline: 0;
                    padding: 6px 4px;
                    text-align: center;
                    margin-right: 5px;
                    margin-left: 5px;
                    transition: all 0.7s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .view_review {
                    background-color: #FFFFFF;
                    color: #E16428;
                    border-radius: 10px;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 6px 18px;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 4px;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 30px;
                    min-height: 30px;
                    min-width: 120px;
                    outline: 0;
                    padding: 6px 4px;
                    text-align: center;
                    margin-right: 5px;
                    margin-left: 5px;
                    transition: all 0.7s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

/* Styles for the fullscreen overlay */
.fullscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}

.fullscreen_image {
    display: flex;
    justify-content: center;

    .image {
        max-height: 95vh;
        width: 100% !important;
        height: auto !important;
        border-radius: 0px !important;
    }
}

@media (max-width:1500px) {
    .container .no_message .icon {
        left: 16%;
    }
}

@media (max-width:1024px) {
    .container {
        font-size: smaller;
        .chat_room {
            width: 30%;
        }
        .chat_room_main {
            .image {
    
                img {
                    width: 33px;
                    height: 33px;
                }
    
            }
        }
        .message_main {
            .message_container {
                width: 100%;

            }
            .profile {
                display: none;

            }
        }
    } 
}