.container {
    display: flex;
    width: 100%;
    padding: 34px;
    margin-top: 28px;


    .chat_room {
        width: 25%;
    }

    .chat_messages {
        width: 75%;
    }

    .no_message {
        border-left: #5A2810 1px solid;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
        height: 80vh;
        font-size: 28px;
        font-weight: 700;

        .icon {
            color: #5A2810;
            position: relative;
            left: 12%;
        }
    }

    .chat_room_main {
        display: flex;
        align-items: center;
        margin-left: 8%;
        margin-right: 2%;
        padding: 4%;

        img {
            object-fit: cover;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .latest_message {
            font-size: 12px;
            color: #424949
        }

        &.active {
            background-color: #F9E0D4;
            border-radius: 15px;
        }
    }

    .message_main {
        display: flex;
        width: 100%;
        height: 75vh;

        .message_container {
            width: 65%;
            height: 100%;
            border-right: #5A2810 1px solid;
            border-left: #5A2810 1px solid;

            .chat_header {
                display: flex;
                align-items: center;
                background-color: #F9E0D4;
                border-radius: 8px;
                padding: 10px 25px;
                margin: 0 8px;

                img {
                    object-fit: cover;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin-right: 14px;
                }

                p {
                    font-weight: 800;
                    font-size: 18px;
                }
            }

            .message {
                color: #000;
                clear: both;
                line-height: 18px;
                font-size: 15px;
                padding: 8px;
                position: relative;
                margin: 8px 0;
                max-width: 85%;
                word-wrap: break-word;
                z-index: -1;
            }

            .message:after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
            }

            .message_wrap {
                min-height: 84%;
                margin: 14px 8px;
                height: 40%;
                padding: 10px;
                border-radius: 12px;
                overflow-y: scroll;
                overflow-x: hidden;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .image_message {
                    border-radius: 0%;
                    width: auto;
                    height: auto;
                    margin: 5px 0;
                }

                .file_message {
                    display: flex;
                    border-radius: 0%;
                    width: auto;
                    height: auto;
                    margin: 5px 0;
                    cursor: pointer;

                    .icon {
                        height: fit-content;
                        background-color: white;
                        padding: 12px 15px;
                        border-radius: 50%;
                        margin-right: 12px;
                    }

                    h1 {
                        font-weight: 700;
                        margin-top: 2px;
                        margin-right: 2px;
                    }

                    p {
                        font-size: 11px;
                        color: gray;
                    }
                }

                .message_1 {
                    width: fit-content;
                    max-width: 50%;
                    background-color: #F9E0D4;
                    padding: 10px 15px;
                    word-wrap: break-word;
                }

                .message_2 {
                    width: fit-content;
                    max-width: 50%;
                    background-color: #ACA9A9;
                    color: black;
                    padding: 10px 15px;
                    word-wrap: break-word;
                }
            }

            .preview {
                // background-color: #5A2810;
            }

            .input_field {
                margin: 0 8px;
                background-color: #FBF6F6;
                border-radius: 8px;
                display: flex;

                .input_file {
                    input {
                        display: none;
                    }
                }

                input {
                    width: 90%;
                    background-color: #FBF6F6;
                    border: 0;
                }

                input:focus {
                    border: #5A2810 solid 1px
                }
            }
        }

        .profile {
            width: 35%;
            height: 50%;
        }
    }
}

@media (max-width:1500px) {
    .container .no_message .icon {
        left: 16%;
    }
}