.main {
    margin-top: 45px;
    margin-left: 32px;
    margin-right: 32px;
    width: 82%;

    .heading {
        text-align: center;
        font-size: 35px;
        font-weight: bolder;
    }

    .order {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 78%;
        height: 65px;
        background-color: #E78353;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        div {
            display: flex;
            position: absolute;
            right: 3%;
            font-weight: bolder;
            font-size: larger;
            margin-top: 15px;

            .price {
                font-size: x-large;
                margin-right: 12px;
                margin-left: 12px;
            }

            button {
                width: 150px;
                background-color: white;
                color: #E78353;
                border-radius: 8px;
                font-weight: 400;
            }
        }


    }
}

.sideBar {
    width: 18%;
}

.artwork_category {
    margin: 5% auto;
    margin-left: 2%;
    margin-top: 100px;
    padding: 0 12px;
    width: 100%;
    word-wrap: break-word;

    .warp {
        display: flex;
    }

    .switch {
        font-weight: 800;
        font-size: 22px;

        .item {
            color: black;
            cursor: pointer;
        }

        .item_active {
            color: #E78353;
            cursor: pointer;
        }
    }
}