.main {
    margin-top: 150px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;

    .heading {
        text-align: center;
        font-size: 35px;
        font-weight: bolder;
    }

    .order {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 78%;
        height: 65px;
        background-color: #E78353;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        div {
            display: flex;
            position: absolute;
            right: 3%;
            font-weight: bolder;
            font-size: larger;
            margin-top: 15px;

            .price {
                font-size: x-large;
                margin-right: 12px;
                margin-left: 12px;
            }

            button {
                width: 150px;
                background-color: white;
                color: #E78353;
                border-radius: 8px;
                font-weight: 400;
            }
        }


    }
}

.sideBar {
    display: flex;
    text-align: center;
    justify-content: center;

    .artwork_category {
        margin-top: 25px;
        margin-left: 2%;
        margin-right: 2%;
        width: 100%;
        word-wrap: break-word;
        justify-content: center;

        .warp {
            display: block;
        }

        .switch {
            font-weight: 800;
            font-size: 22px;

            .item {
                color: black;
                cursor: pointer;
                border-radius: 15px;
                color: black;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 600;
                margin-left: 35px;
                line-height: 24px;
                margin-right: 35px;
                transition: all 0.5s;
            }

            .item_active {
                color: #E78353;
                cursor: pointer;
                background: #E16428;
                border-radius: 15px;
                box-shadow: #E16428 0 5px 20px -10px;
                box-sizing: border-box;
                color: #FFFFFF;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 600;
                line-height: 24px;
                opacity: 1;
                outline: 0 solid transparent;
                padding: 5px 20px;
            }

            .item:hover {
                align-items: center;
                justify-content: center;
                background: #E16428;
                border-radius: 15px;
                box-shadow: #E16428 0 5px 20px -10px;
                box-sizing: border-box;
                color: #FFFFFF;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 600;
                line-height: 24px;
                opacity: 1;
                outline: 0 solid transparent;
                padding: 5px 20px;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                width: fit-content;
                word-break: break-word;
                border: 0;
            }
        }
    }
}