.cartItem {
    height: auto;
    background-color: #FCEFE9;
    border-radius: 10px;
    margin: 10px auto;
    padding-bottom: 10px;

    .profile {
        display: flex;
        padding-top: 15px;
        padding-left: 25px;

        .username {
            font-weight: bolder;
            margin-left: 8px;
        }

        .saveButton {
            background-color: #E16428;
            width: 120px;
            height: 25px;
            border-radius: 15px;
            color: white;
            margin-right: 7px;
        }

        .cancelButton {
            border: 1.5px solid #B45020;
            width: 120px;
            height: 25px;
            border-radius: 15px;
            color: #B45020;
        }
    }

    .formGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        margin-left: 30px;
        padding-bottom: 10px;

        .information {
            display: flex;
            padding-left: 25px;
            margin-top: 12px;

            .userImage {
                height: 90px;
                width: 90px;
                object-fit: cover;
                background-color: #F3C1A9;
                border-radius: 10px;
                border-color: #F3C1A9;
                margin-top: 7px;
            }

            .detail {
                margin-left: 20px;
                margin-top: 2px;

                .artworkName {
                    font-size: larger;
                    font-weight: bolder;
                    margin-bottom: 5px;
                }

                .description {
                    font-size: small;
                    color: gray;
                }
            }
        }

        .price {
            font-weight: bolder;
            position: absolute;
            right: 30%;
            font-size: 20px;
        }

        .confirm {
            display: flex;
            position: absolute;
            right: 5%;
            align-items: center;

            .confirmButton {
                // height: 32px;
                // width: 150px;
                padding: 8px 52px ;
                background-color: #FDFBFB;
                color: #E16428;
                border-radius: 8px;
                margin-right: 12px;
                border: 1px solid #E16428
            }

            .confirmButton:hover {
                background-color: #B45020;
                color: #FDFBFB;
                border: 1px solid #B45020
            }
        }

        @media (min-width: 768px) {
            grid-template-columns: 58% 27% 15%;
            justify-content: center;
            align-items: center;
        }
    }
}