.cartItem {
    height: auto;
    background-color: #FFFAF8;
    border-radius: 10px;
    margin: 10px auto;
    padding-bottom: 15px;

    .profile {
        display: flex;
        padding-top: 15px;
        padding-left: 25px;

        .username {
            font-weight: bolder;
            margin-left: 8px;
        }

        .saveButton {
            width: 120px;
            height: 20px;
            border-radius: 15px;
            color: white;
            color: #E16428;
            background-color: #FFFFFF;
            margin-right: 7px;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            display: inline-block;
            font-size: 16px;
            font-weight: 800;
            line-height: 16px;
            min-height: 30px;
            outline: 0;
            padding: 8px 4px;
        }

        .saveButton:hover,
        .saveButton:active {
            background-color: #E16428;
            background-position: 0 0;
            color: white;
        }


        .cancelButton {
            width: 120px;
            height: 25px;
            border-radius: 15px;
            background-color: #FFFFFF;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            color: #E16428;
            display: inline-block;
            font-size: 16px;
            font-weight: 800;
            line-height: 16px;
            min-height: 30px;
            outline: 0;
            padding: 8px 12px;
            text-align: center;
        }

        .cancelButton:hover,
        .cancelButton:active {
            background-color: #E16428;
            background-position: 0 0;
            color: white;
        }
    }

    .formGrid {
        // display: grid;
        // grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 10px;


        @media (min-width: 768px) {
            // grid-template-columns: 46% 14% 18% 16% 6%;
            justify-content: center;
            align-items: center;
        }

        .information {
            display: flex;

            .check {
                margin-top: 30px;
                margin-right: 15px;
                height: 18px;
                width: 18px;
                border: 1px solid #D5CFCD;
                border-radius: 3px;
                background-color: #D5CFCD;
            }

            .userImage {
                height: 80px;
                width: 80px;
                background-color: #F3C1A9;
                border-radius: 10px;
                border-color: #F3C1A9;
            }

            .detail {
                margin-left: 20px;
                margin-top: 10px;

                .artworkName {
                    font-size: 18px;
                    font-weight: bolder;
                }

                .description {
                    font-size: 15px;
                    color: gray;
                }
            }
        }

        .price {
            font-weight: bolder;
            font-size: 20px;
        }

        .quantity {

            button {
                width: 30px;
                height: 30px;
                border: 1px solid #E16428;
                background-color: #E16428;
                border-radius: 3px;
                color: white;
            }

            input {
                width: 70px;
                height: 30px;
                border: 1px solid #E16428;
                text-align: center;
                justify-content: center;
                color: #E16428;
                margin: auto 5px;
                border-radius: 3px;
            }
        }

        .netAmount {
            font-weight: bolder;
            font-size: 20px;
        }

        .confirm {
            .confirmButton {
                height: 32px;
                width: 150px;
                background-color: #E16428;
                color: white;
                border-radius: 4px;
                margin-right: 12px;
            }
        }

    }
}