.container {
    margin: auto 40px;

    .heading {
        align-items: center;
        justify-content: center;
    }

    .reviewCartOrderStatus {
        height: 40px;
        background-color: #FCEFE9;
        border-radius: 10px;
        margin-top: 10px;

        .formGrid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            margin-left: 30px;

            .item_active {
                color: #873C18;
                font-weight: bolder;
                margin-top: 8px;
                cursor: pointer;
            }

            .item {
                margin-top: 8px;
                font-weight: bolder;
                cursor: pointer;
            }

            @media (min-width: 768px) {
                grid-template-columns: 50% 20% 15% 15%;
                justify-content: center;
                align-items: center;
            }

        }
    }
}

.cartOrderItem {
    height: auto;
    background-color: #FCEFE9;
    border-radius: 10px;
    margin: 10px auto;

    .profile {
        display: flex;
        padding-top: 15px;
        padding-left: 25px;

        .username {
            font-weight: bolder;
            margin-left: 8px;
        }

        .saveButton {
            background-color: #E16428;
            width: 120px;
            height: 25px;
            border-radius: 15px;
            color: white;
            margin-right: 7px;
        }

        .cancelButton {
            border: 1.5px solid #B45020;
            width: 120px;
            height: 25px;
            border-radius: 15px;
            color: #B45020;
        }
    }

    .formGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 10px;


        @media (min-width: 768px) {
            grid-template-columns: 50% 22% 12% 16%;
            justify-content: center;
            align-items: center;
        }

        .information {
            display: flex;

            .check {
                margin-top: 30px;
                margin-right: 15px;
                height: 18px;
                width: 18px;
                border: 1px solid #D5CFCD;
                border-radius: 3px;
                background-color: #D5CFCD;
            }

            .userImage {
                height: 80px;
                width: 80px;
                background-color: #F3C1A9;
                border-radius: 10px;
                border-color: #F3C1A9;
            }

            .detail {
                margin-left: 20px;
                margin-top: 10px;

                .artworkName {
                    font-size: 18px;
                    font-weight: bolder;
                }

                .description {
                    font-size: 15px;
                    color: gray;
                }
            }
        }

        .price {
            font-weight: bolder;
            font-size: 20px;
        }

        .quantity {
            font-weight: bolder;
            font-size: 20px;
        }

        .netAmount {
            font-weight: bolder;
            font-size: 20px;
        }
    }
}

.amount {
    margin-top: 20px;
    height: 55px;
    background-color: #E78353;


    .block {
        margin-top: 10px;
        display: flex;
        position: absolute;
        right: 8%;
        font-weight: bold;
        font-size: larger;
    }

    .price {
        padding-left: 15px;
    }
}