.reviewModal {
    .header {
        p {
            font-size: 1.6rem;
            text-align: center;
        }
    }

    .order {
        display: flex;
        padding-left: 25px;
        margin-top: 10px;
        margin-bottom: 20px;

        .userImage {
            height: 100px;
            width: 100px;
            background-color: #F3C1A9;
            border-radius: 10px;
            border-color: #F3C1A9;
        }

        .detail {
            margin-left: 20px;

            .artworkName {
                font-size: 18px;
                font-weight: bolder;
            }

            .packageName {
                font-size: 15px;
                color: gray;
            }
        }
    }

    .button_box {
        display: flex;
        justify-content: end;
        align-items: end;
        font-size: 0.8rem;

        .confirmButton {
            width: 120px;
            background-color: #E16428;
            border-radius: 4px;
            color: white;
            height: 32px;
        }

        .cancelButton {
            border: 1px solid #8F8C8C;
            width: 120px;
            background-color: white;
            color: #8F8C8C;
            margin-right: 10px;
            border-radius: 4px;
            height: 32px;

        }
    }

    .main {
        margin: auto 80px;

        .label {
            margin-right: 20px;
        }

        .starWrapper {
            .star {
                font-size: 1.6em;
                color: #8F8C8C;
                text-decoration: none;
                transition: all 0.5s;
                margin: 4px;
                cursor: pointer;
    
                
            }
            .star_selected {
                font-size: 1.6em;
                color: gold;
                text-decoration: none;
                transition: all 0.5s;
                margin: 4px;
                cursor: pointer;
            }
        }

        .starWrapper a:hover {
            color: gold;
            transform: scale(1);
        }

        textarea {
            width: 80%;
            max-width: 1000px;
            border: 1px solid #5A2810;
            border-radius: 4px;
            padding: 0 8px;
            box-sizing: border-box;
            margin-bottom: 8px;

            @media (max-width: 400px) {
                width: 100%;
            }
        }
    }
}