.container {
    .text {
        text-align: center;
        color: #635B5B;
    }
}

.artwork_container {
    margin: 20px auto;
    padding: 0 10%;
    columns: 5;
    column-gap: 20px;

    .artwork_box {
        width: 100%;
        margin-bottom: 12px;
        break-inside: avoid;
        cursor: pointer;

        img {
            max-width: 100%;
            border-radius: 5px;
            background-color: #D9D9D9;
        }

        .detail_artbox {
            display: flex;
            align-items: center;
            margin: 1%;
            margin-left: 3%;

            img {
                border-radius: 50%;
                width: 35px;
                height: 35px;
            }
        }
    }
}

.artwork_container_show_detail {
    margin: 20px auto;
    padding-left: 5%;
    margin-right: 30%;
    columns: 3;
    column-gap: 20px;

    .artwork_box {
        width: 100%;
        margin-bottom: 12px;
        break-inside: avoid;
        cursor: pointer;

        img {
            max-width: 100%;
            border-radius: 5px;
        }

        .detail_artbox {
            display: flex;
            align-items: center;
            margin: 1%;
            margin-left: 3%;

            img {
                border-radius: 50%;
                width: 35px;
                height: 35px;
            }
        }
    }
}

.type_header {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.artwork_category {
    margin-top: 3%;
    padding: 0 10%;
    width: 100%;
    margin-bottom: 20px;

    // .item {
    //     color: black;
    //     cursor: pointer;
    //     transition: all .3s ease-in-out;
    //     margin-right: 30px;
    //     margin-left: 30px;

    // &:hover {
    //     color: #E16428;
    //     cursor: pointer;
    //     // transform: scale(1.01);
    //     transform: translateY(-2px);
    // }
    // }

    .item_active {
        cursor: pointer;
        background-color: #E16428;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        height: 2.5rem;
        transition-property: all;
        top: 4px;
    }

    .arrow {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        border-radius: 50%;

        &:hover {
            background-color: #f1f1f1;

        }
    }

    .category_container {
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;

        .category {
            // font-size: smaller;
            width: min-content;
            border: 1px solid #E16428;
            color: #E16428;
            padding: 3px 12px;
            border-radius: 6px;
            margin: 0 2px;

            &:hover, &.active  {
                background-color: #E16428;
                color: white;
            }
        }
    }
}

.no_artwork {
    text-align: center;
    align-items: center;
    // position: absolute;
    // right: 35%;
    // top: 20%;
    color: #5A2810;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 48px;
}

.artwork_detail {
    // margin: 10px 2%;
    margin-top: 2%;
    margin-right: 3%;
    padding: 1%;
    // display: flex;
    width: 35%;
    border: solid 0.5px #e1dddc;
    box-shadow: 2px 2px 2px #EBE9E9;
    border-radius: 20px;
    float: right;

    .image_gallery {
        height: 20rem;
        margin-top: 25px;
        z-index: 300;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 20px;
        }

        /* Styles for the fullscreen overlay */
        .fullscreen_overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            cursor: zoom-in;
        }

        .fullscreen_image {
            display: flex;
            justify-content: center;

            .image {
                width: 85% !important;
                height: 85% !important;
                object-fit: contain;
                justify-content: center;
                border-radius: 0px !important;
            }
        }
    }

    .freelance_profile {
        width: 100%;
        // background-color: #edeef0;
        background-color: #F9E0D4;
        display: flex;
        border-radius: 20px;

        .profile {
            padding-left: 3%;
            height: 0rem;
            width: 70%;
            display: flex;
            align-items: center;
            margin: 3rem auto;

            img {
                margin-right: 8px;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                max-width: none;
                object-fit: cover;
            }

            .name_box {
                justify-items: start;
                justify-content: start;

                .username {
                    margin-left: 4px;
                    font-weight: 500;
                    font-size: 1.2rem;
                }

                .fullname {
                    margin-left: 4px;
                    font-size: 0.8rem;
                    color: #716E6E;
                }
            }
        }

        .button_container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            color: #873C18;
            padding-right: 30px;

            .view_profile {
                width: 150px;
                height: 40px;
                background-color: #E78353;
                padding: 4px 20px;
                border-radius: 15px;
                color: #fff;
                font-weight: 500;
                margin-left: 12px;
                transition: all 0.5s;
                margin-right: 5px;

                &:hover {
                    background-color: #E16428;
                    border-color: #E16428;
                    transform: scale(1.05);
                    cursor: pointer;
                    filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.15));
                    font-weight: 500;
                }
            }

            // .chat_icon {
            //     color: #5A2810;
            //     transition: all 0.5s;

            //     &:hover {
            //         color: #E16428;
            //         transform: scale(1.05);
            //         cursor: pointer;
            //         filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.15));
            //         font-weight: 500;
            //     }
            // }
        }

    }
}

.customer_profile {
 
}


.detail {
    margin: 10px 5%;
    // height: 24rem;

    .name {
        font-weight: bold;
        margin-top: 22px;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .category {
        width: 100%;

        span {
            margin-right: 10px;
            padding: 4px 20px;
            border-radius: 15px;
            transition: all 0.7s;
        }
    }

    .description {
        margin-top: 15px;
        margin-bottom: 12px;

        span {
            margin-top: 20px;
        }
    }

    .price {
        margin-top: 20px;

        .price_tag {
            color: #B45020;
            font-size: x-large;
            font-weight: 600;
            // position: absolute;
            // right: 35px;
            // margin-right: 2%;
        }
    }

    .heart {
        margin-top: 8px;

        .heart_count {
            color: #B45020;
            position: absolute;
            right: 35px;
            margin-right: 2%;
        }

        .heart_icon {
            margin-left: 2%;
            color: #EBE9E9;
            box-shadow: '0px 4px 4px rgba(0, 0, 0, 0.25) inset';

            &:hover {
                color: #EB3223;
            }

            &:active {
                color: #EB3223;
            }
        }
    }

    .bookmark {
        margin-top: 8px;

        .bookmark_icon {
            margin-left: 2%;
            color: #EBE9E9;
            box-shadow: '0px 4px 4px rgba(0, 0, 0, 0.25) inset';

            &:hover {
                color: #FFD600;
            }

            &:active {
                color: #FFD600;
            }
        }
    }

    .quantity {
        display: flex;
        justify-content: end;
        position: absolute;
        right: 48px;
        margin-right: 2%;
        margin-top: -37px;

        .quantityControll {
            margin-left: 100px;

            button {
                width: 30px;
                height: 30px;
                border: 1px solid #E16428;
                background-color: #E16428;
                border-radius: 3px;
                color: white;
            }

            input {
                width: 70px;
                height: 30px;
                border: 1px solid #E16428;
                text-align: center;
                justify-content: center;
                color: #E16428;
                margin: auto 5px;
                border-radius: 3px;
            }

        }
        .chat_icon {
            color: #E16428;
            transition: all 0.5s;

            &:hover {
                color: #5A2810;
                transform: scale(1.05);
                cursor: pointer;
                filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.15));
                font-weight: 500;
            }
        }

        .addToCart {
            position: absolute;
            top: 5%;
            width: 150px;
            height: 38px;
            border-radius: 8px;
            color: #FDFBFB;
            background-color: #E16428;
            border-color: #E16428;
            transform: scale(1.05);
            transition: all 0.5s;

            &:hover {
                border: 1px solid #5A2810;
                background-color: #5A2810;
                border-radius: 8px;
                color: white;
                transform: scale(1.05);
                cursor: pointer;
                filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.15));
                font-weight: 500;
            }
        }
    }

}

.close {
    // margin: 2px 9px;
    margin-right: 2px;
    margin-top: -20px;
    margin-left: 3px;
    z-index: 100;
    position: relative;

    span {
        // padding: 0px 0px;
        border-radius: 50%;
        font-weight: 600;
        font-size:larger;
        color: #5A2810;
        position: absolute;
        // right: 0px;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            // background-color: #B45020;
            transform: scale(1.05);
            cursor: pointer;
            font-weight: 700;
        }
    }
}

@media (min-width:1706px) {
    .arrow {
        visibility: hidden;
    }
}

@media (max-width:1200px) {
    .artwork_container {
        max-width: calc(100% - 40px);
        padding: 0 18px;
        columns: 4;
    }
}

@media (max-width:1024px) {
    .container {
        width: 80%;
    }

    .artwork_container {
        padding: 0 15px;
        columns: 3;
    }

    .artwork_category {
        // width: 20%;
    }

    .detail {
        .quantity {
            display: block;
            justify-content: end;
            position: static;
            margin-top: 15px;

            .addToCart {
                position: static;
            }
        }
    }
}

@media (max-width:650px) {
    .artwork_container {
        padding: 0 10px;
        columns: 2;
    }
}