.container {
    width: 85%;
}

.artwork_container {
    margin: 20px auto;
    padding: 0 20px;
    columns: 5;
    column-gap: 20px;

    .artwork_box {
        width: 100%;
        margin-bottom: 10px;
        break-inside: avoid;

        img {
            max-width: 100%;
            border-radius: 15px;
        }
    }
}

.artwork_category {
    margin: 20px auto;
    padding: 0 12px;
    width: 15%;
    word-wrap: break-word;
}

.artwork_detail {
    margin: 20px auto;
    padding: 0 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width:1200px) {
    .artwork_container {
        max-width: calc(100% - 40px);
        padding: 0 18px;
        columns: 4;
    }
}

@media (max-width:1024px) {
    .container {
        width: 80%;
    }

    .artwork_container {
        padding: 0 15px;
        columns: 3;
    }

    .artwork_category {
        width: 20%;
    }
}

@media (max-width:650px) {
    .artwork_container {
        padding: 0 10px;
        columns: 2;
    }
}