
.container {
    display: flex;
    width: 150vh;

    .side_menu {
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
        width: 24%;
    }
    
    .side_menu.close {
        transform: translateY(100%);
        transition: transform 0.5s ease-in-out;
        opacity: 0;
    }
    
    .input_container {
        width: 76%;
    }

}