

.container {
  width: 60%;
}

.wrap_message {
  height: 550px;  
  border: 1px solid black;
  margin-top: 24px;
  padding: 10px;
  border-radius: 12px;
  // overflow: scroll;
}

.message_1 {
  width: fit-content;
  background-color: #068FFF;
  color: whitesmoke;
  padding: 10px 15px;
  margin-top: 16px;
  border-radius: 12px;
}

.message_2 {
  width: fit-content;
  background-color: #EEEEEE;
  color: black;
  padding: 10px 15px;
  margin-top: 16px;
  border-radius: 12px;
}

.input_field {
  height: 40px;
  width: 88%;
  border: 1.5px solid rgb(145, 143, 143);
  padding: 12px;
  margin-top: 24px;
  margin-right: 12px;
  border-radius: 12px;
}

.btn {
  height: 40px;
  width: 10%;
  background-color: #687EFF;
  color: aliceblue;
  font-weight: bolder;
  margin-top: 24px;
  border-radius: 12px;
}

.btn:hover {
  background-color: #80B3FF;
  
}