.title {
    font-size: larger;
    font-weight: 800;
}
.education_box {
    background-color: rgba(249, 224, 212, 0.20);
    width: 100%;
    // border: 1px solid black;
    padding: 24px 34px;
    border-radius: 12px;
    margin-top: 16px;

    .info_bottom {
        display: flex;
        margin-top: 16px;
        div {
            width: 50%;
            // border: 1px solid black;
            input {
                width: 80%;
            }
        }
    }

    input[type="text"],
    select,
    textarea {
        border: 1px solid #5a2810;
        border-radius: 6px;
        width: 95%;
        &.error {
            border: red 1px solid;
        }
    }

    input[type="checkbox"] {
        border-radius: 2px;
        height: inherit;
    }

    .delete_button {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        div {
            background-color: #E16428;
            color: white;
            padding: 2px 26px;
            border-radius: 6px;
            cursor: pointer;
        }
    }
}

.add_button {
    border: 1px solid #B45020;
    color: #B45020;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
        border: 1px solid #E16428;
        background-color: #E16428;
        color: white;
    }
}

.button {
    margin-top: 26px;
    .submit {
        border: 2px solid #EDA27E;
        background-color: #EDA27E;
        color: #FAF2F2;
        padding: 10px 50px;
        border-radius: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 12px;

        &:hover {
            background-color: #E78353;
            border: 2px solid #E78353;
        }
    }

    .cancel {
        border: 2px solid #B45020;
        color: #B45020;
        padding: 10px 50px;
        border-radius: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 12px;

        &:hover {
            background-color: #E78353;
            border: 2px solid #E78353;
            color: #FAF2F2;
        }
    }
}