.main {
    width: 100%;

    .input_field {
        width: 75%;

        .each_field {
            width: 85%;
            margin-bottom: 12px;
        }

        label {
            margin-bottom: 40px;

            div {
                display: flex;
                margin-bottom: 2px;
                align-items: center;

                .tips {
                    color: #545151;
                    margin-left: auto;
                    font-size: smaller;
                }
            }

            p {
                font-weight: 800;
                text-transform: uppercase;
            }
        }

        .error {
            color: red;
            font-size: 12px;
            font-weight: 400;
            text-transform: none;
            margin-top: 2px;
        }

        input,
        select,
        textarea {
            border: 1px solid #5a2810;
            border-radius: 6px;
            width: 100%;
        }

        textarea {
            width: 92%;
        }

        .left {
            width: 50%;
            // border: 1px solid #5A2810;
        }

        .right {
            width: 50%;
            // border: 1px solid green;
        }

        .dateOfBirth {
            display: flex;

            .date {
                width: 20%;
                margin-right: 20px
            }
            .month {
                width: 36%;
                margin-right: 20px
            }
            .year {
                width: 31%
            }
        }
    }

    .upload_image {
        display: flex;
        flex-direction: column;

        img {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .input_image {
            label {
                p {
                    cursor: pointer;
                    background-color: #d9d9d9;
                    font-weight: 700;
                    padding: 10px 15px;
                    margin: 15px 0;
                    border-radius: 10px;
                    text-align: center;
                    transition: all 0.5s;
                    
                    &:hover {
                        background-color: #E16428;
                        cursor: pointer;
                        color: #FAF2F2;
                    }
                }
            }

            input {
                display: none;
            }

            .tips {
                font-size: smaller;
                color: #716E6E;
                font-weight: 500;
            }
        }
    }

    .button {
        font-size: 14px;
        margin-top: 24px;
        .submit {
            background-color: #5A2810;
            color: white;
            width: 16%;
            padding: 8px;
            margin-right: 12px;
            border-radius: 20px;
            transition: all 0.5s;

            &:hover {
                background-color: #E16428;
                transform: scale(1.05);
                cursor: pointer;
                color: #FAF2F2;
                box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
                font-weight: 600;
            }
        }

        .cancel {
            display: inline-block;
            text-align: center;
            width: 16%;
            color: #B45020;
            padding: 8px;
            border-radius: 20px;
            border: #B45020 2px solid;
            transition: all 0.5s;
            
            &:hover {
                background-color: #E16428;
                color: white;
                border-color: #E16428;
                transform: scale(1.05);
                cursor: pointer;
                box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
                font-weight: 600;
            }
        }
    }
}