.quotationModal {
    .header {
        background-color: #E16428;

        p {
            color: white;
        }

        svg {
            display: none;
        }
    }

    .button_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 28px;
        margin-top: 24px;

        .createButton {
            width: 160px;
            background-color: #E16428;
            border-radius: 15px;
            color: white;
            height: 30px;
            margin-right: 10px;
            transition: all .4s ease-in-out;

            &:hover {
                filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
                transform: scale(1.1);
                // transform: translateY(-2px);
            }
        }

        .cancelButton {
            border: 1px solid #B45020;
            width: 120px;
            background-color: white;
            color: #B45020;
            border-radius: 15px;
            height: 30px;
            transition: all .4s ease-in-out;

            &:hover {
                filter: drop-shadow(0 4px 4px rgba(91, 91, 91, 0.2));
                border: 1px solid #E16428;
                background-color: #E16428;
                color: #fff;
                transform: scale(1.05);
                // transform: translateY(-2px);
            }
        }
    }
}